<html>  
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
</head>
  
<body style='margin: 0'>
<div style="width: 100%; height: 100%" id="mapContainer"></div>

<script>	
      // Initialize the platform object:
      var platform = new H.service.Platform({
        'apikey': 'INSERT YOUR API KEY HERE'
      });
	   
	   var ltarr = {{ latarr | tojson}};
	   var lgarr = {{ lngarr | tojson}};
	   
	   var maptypes = platform.createDefaultLayers();

      // Instantiate (and display) a map object:
      var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.vector.normal.map,
        {
          zoom: 16,
          center: { lat: ltarr[0], lng: lgarr[0] }  
        });
	   
	   for (i=0; i<ltarr.length; i++)
	   {
            var marker = new H.map.Marker({ lat: ltarr[i], lng: lgarr[i] });
		
            // Add the marker to the map:
            map.addObject(marker);
	   }
		
</script>
</body>
</html>
